body{
	background-color: white
	font-size: calc(20px + (32 - 20));
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	background-color: #121a0a; 
	text-align: center;
}

li{
	float: left;
	font-size: 20;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 25px 30px;
	text-decoration: none;
}

li a:hover{
	background-color: white;
	color: #121a0a;
	text-decoration: none;
}

.responsive {
	max-width: 100%
	height: auto;
}

.image {
	width: 100%; 
	text-align: center;
	padding-top: 80px;
	margin: auto;
}


h1 {
	width: 100%;
	color:black;
	font-size: 30px;
	text-align: center;
	padding-top: 60px;
	padding-left: 20%;
	padding-right: 20%;
	margin: auto;
}

h2 {
	color: black;
	font-size: 30px;
	text-align: left;
	padding-left: 20%;
	padding-right: 20%;
	margin: auto;
}

p {
	width: 100%;
	color: black;
	font-size: 20px;
	text-align: left;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 25px;
	padding-top: 10px;
	margin: auto;
}

.footer{
	color: white;
	color: white;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	background-color: black;
	font-size: 12px;
	font-family: sans-serif;
	bottom: 0;
	left: 0;
	width: 100%;
}

.copyright{
	font-weight: normal;
	font-size: 11px;
	margin-bottom: 0;
	color: white;
	text-align: center;
}


@media screen and (max-width: 600px) {
        #ul {
            width: 70%;
        }

        div#image {
            width: 100%; 
			text-align: center;
			padding-top: 80px;
			margin: auto;
        }

        #h1 {
            font-size: 100%;
        }

        #h2 {
         	font-size: 100%;
        }

		#p {
			font-size: 100%;
			width: 100%;
           }
